* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  background-color: #7f7f81;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #23a6f0;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.btn-2 {
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.top-bar {
  background-image: url('https://t4.ftcdn.net/jpg/02/81/89/73/360_F_281897358_3rj9ZBSZHo5s0L1ug7uuIHadSxh9Cc75.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: rgba(0, 0, 0, 0.6); /* কালো অন্ধকার */
  background-blend-mode: darken;
}

